%header
  %h1 3d clouds
  #book_cover{height: 500, width: 600}

  .canvas-to-svg Save as SVG
  %script{src: "../javascripts/covers/matrix_transformations.js", type: "text/javascript", canvas: "book_cover"}
