/* line 2, /Users/joannecheng/dev/tbot/bookcovers/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, /Users/joannecheng/dev/tbot/bookcovers/source/stylesheets/_main.scss */
header {
  text-align: center; }

/* line 7, /Users/joannecheng/dev/tbot/bookcovers/source/stylesheets/all.css.scss */
body {
  background: #f4f4f4; }
