%header
  %h1 Maybe Haskell

  %canvas#book_cover{height: 980, width: 653}
  .canvas-to-svg Save as SVG

  %script{src: "javascripts/haskell_cover.js", type: "text/paperscript", canvas: "book_cover"}
