%header
  %h1 Bookcovers

%section
  %ul
    %li
      %a{href: "covers/git.html"} Goal Oriented Git
    %li
      %a{href: "covers/yarn.html"} Yarn-ball
    %li
      %a{href: "covers/triangles.html"} Triangles
    %li
      %a{href: "covers/wavy_lines.html"} Wavy Lines
    %li
      %a{href: "covers/concentric_circles.html"} Concentric Circles
    %li
      %a{href: "covers/3d_clouds.html"} 3D Clouds
