%header
  %h1 Bookcovers

%section
  %ul
    %li
      %a{href: "git.html"} Goal Oriented Git
    %li
      %a{href: "bookcover1.html"} Bookcover idea 1
    %li
      %a{href: "bookcover2.html"} Bookcover idea 2
